.ant-pagination-item-link {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.ant-pagination-total-text {
    margin-right: 4rem;
}

.ant-pagination-options {
    margin-left: 4rem;
}